.root:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  color: var(--token-N3voXFBEfKuQ);
  font-family: var(--token-QRiAQyAIalTd);
  font-size: var(--token-AR54r7_6r_xj);
  line-height: var(--token-E0ir8LkC5RCU);
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: var(--token-dkZ6tw6BHfYd) var(--token-KlKH7fDU2FN2);
}
.slotTargetHeader {
  font-weight: 600;
}
