.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-I_JtX8U8qCjO);
  min-width: 0;
}
.ariaTextField[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__vqT8A {
  display: flex;
  flex-direction: column;
}
.freeBox___9S3I {
  flex-direction: row;
  position: absolute;
  height: var(--token-kLgqYFWJyyhe);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-Omo7udJzTCYS) var(--token-KlKH7fDU2FN2);
}
.freeBoxiconStart___9S3I1LmyT {
  display: flex;
}
.slotTargetStart {
  color: var(--token-23bg9EbaKAfy);
}
.svg__eqNwX {
  position: relative;
  height: 1em;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 240px;
  width: 100%;
  min-width: 0;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox___4HfK {
  height: var(--token-kLgqYFWJyyhe);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-Omo7udJzTCYS) var(--token-KlKH7fDU2FN2);
}
.freeBoxiconEnd___4HfK3Tl7 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-23bg9EbaKAfy);
}
.svg__sob24 {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
