.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-2DGXnKQCCvx3);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-dkZ6tw6BHfYd);
  font-family: var(--token-QRiAQyAIalTd);
  font-size: var(--token-AR54r7_6r_xj);
  line-height: var(--token-E0ir8LkC5RCU);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Omo7udJzTCYS);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-U_7DiYDEJ-JT);
  outline-offset: 1px;
  outline-color: var(--token-2DGXnKQCCvx3);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token--rcfsYFTNlBi);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-ITt1lUs3PChq);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-X9ziYAeW6MNi);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-pmMxpwR_Q_0h);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-hZlCeoqdcDZD);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-hWDT8PoZuPyb);
  font-size: var(--token-xEHKXSilhkla);
  column-gap: var(--token-U_7DiYDEJ-JT);
  row-gap: 0px;
  border-radius: var(--token-I_JtX8U8qCjO);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-xEHKXSilhkla);
  line-height: var(--token-hWDT8PoZuPyb);
  column-gap: var(--token-I_JtX8U8qCjO);
  row-gap: 0px;
  border-radius: var(--token-I_JtX8U8qCjO);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-tbWry7Hfgsx4);
  line-height: var(--token-c9H527_vj5xM);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-tbWry7Hfgsx4);
  line-height: var(--token-c9H527_vj5xM);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-HtvWlUB_e2zI);
  border-radius: var(--token-Omo7udJzTCYS);
}
.softBackgroundcolor_neutral {
  background: var(--token-oXszYG5LALnj);
}
.softBackgroundcolor_muted {
  background: var(--token-INqMp0xFmBFO);
}
.softBackgroundcolor_success {
  background: var(--token-dJ7r6lvlLTvf);
}
.softBackgroundcolor_warning {
  background: var(--token-eXq4BMbJ3_tv);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-R02acMtZ7f4c);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Omo7udJzTCYS);
  border: 0px solid var(--token-HgKapxNO-3AP);
}
.bordercolor_neutral {
  border-color: var(--token-tmZC7XTE83Tf);
}
.bordercolor_muted {
  border-color: var(--token-1FdhgPjjsutB);
}
.bordercolor_success {
  border-color: var(--token-JnLEuf2WUpl0);
}
.bordercolor_warning {
  border-color: var(--token-hJNswSyoxage);
}
.bordercolor_errorDestructive {
  border-color: var(--token-NUGXLP-lSNQ9);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Omo7udJzTCYS);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-VXtXVQiiSGo-);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-PUQBn_OiC56u);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-ymXhXQwxBlMp);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__a2L3J {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-Omo7udJzTCYS);
  min-width: 0;
  min-height: 0;
  padding: var(--token-Omo7udJzTCYS) var(--token-KlKH7fDU2FN2);
}
.freeBoxsize_extraSmall__a2L3J6QnUd {
  padding: var(--token-I_JtX8U8qCjO) var(--token-Omo7udJzTCYS);
}
.freeBoxsize_small__a2L3JFvDo5 {
  padding: var(--token-Omo7udJzTCYS) var(--token-dkZ6tw6BHfYd);
}
.freeBoxsize_large__a2L3Je59Wa {
  padding-top: var(--token-I_JtX8U8qCjO);
  padding-bottom: var(--token-I_JtX8U8qCjO);
}
.freeBoxsize_extraLarge__a2L3JnHeLb {
  padding-left: var(--token-pb88BUdOuB-I);
  padding-right: var(--token-pb88BUdOuB-I);
}
.freeBoxroundedFull__a2L3JtXZi {
  padding-right: var(--token-pb88BUdOuB-I);
  padding-left: var(--token-pb88BUdOuB-I);
}
.freeBox__tX8OO {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__tX8OOTwfGr {
  display: flex;
}
.slotTargetStart {
  color: var(--token-YsKjjf7-aRv5);
}
.slotTargetStartcolor_neutral {
  color: var(--token-vgzurqFUrBYU);
}
.slotTargetStartcolor_muted {
  color: var(--token-AOoEZ8fGxSNj);
}
.slotTargetStartcolor_success {
  color: var(--token-ReDg7aVpaV0f);
}
.slotTargetStartcolor_warning {
  color: var(--token-GKPw9jZCxeAG);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-rwIUoWtgZIKZ);
}
.slotTargetStarttype_soft {
  color: var(--token-OUDfnQi9wlW1);
}
.slotTargetStarttype_bordered {
  color: var(--token-OUDfnQi9wlW1);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-xEHKXSilhkla);
}
.slotTargetStartsize_small {
  font-size: var(--token-xEHKXSilhkla);
}
.slotTargetStartsize_large {
  font-size: var(--token-tbWry7Hfgsx4);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-tbWry7Hfgsx4);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-8t0RmQVNq-Mp);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-8t0RmQVNq-Mp);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-Z4edeHsPryWp);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-Z4edeHsPryWp);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-Qu0D00Ic4STc);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-Qu0D00Ic4STc);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-C2Tr6yrKXsqP);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-C2Tr6yrKXsqP);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-5asEauoKl_Or);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-5asEauoKl_Or);
}
.svg__orOyF {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-YsKjjf7-aRv5);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-vgzurqFUrBYU);
}
.slotTargetLabelcolor_muted {
  color: var(--token-AOoEZ8fGxSNj);
}
.slotTargetLabelcolor_success {
  color: var(--token-ReDg7aVpaV0f);
}
.slotTargetLabelcolor_warning {
  color: var(--token-GKPw9jZCxeAG);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-rwIUoWtgZIKZ);
}
.slotTargetLabeltype_soft {
  color: var(--token-OUDfnQi9wlW1);
}
.slotTargetLabeltype_bordered {
  color: var(--token-OUDfnQi9wlW1);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-8t0RmQVNq-Mp);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-Z4edeHsPryWp);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-8t0RmQVNq-Mp);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-Qu0D00Ic4STc);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-Z4edeHsPryWp);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-C2Tr6yrKXsqP);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-Qu0D00Ic4STc);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-5asEauoKl_Or);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-C2Tr6yrKXsqP);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-5asEauoKl_Or);
}
.text__dAu2E {
  white-space: pre;
}
.freeBox__ah2U {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__ah2UsdVhQ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-YsKjjf7-aRv5);
}
.slotTargetEndcolor_neutral {
  color: var(--token-vgzurqFUrBYU);
}
.slotTargetEndcolor_muted {
  color: var(--token-AOoEZ8fGxSNj);
}
.slotTargetEndcolor_success {
  color: var(--token-ReDg7aVpaV0f);
}
.slotTargetEndcolor_warning {
  color: var(--token-GKPw9jZCxeAG);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-rwIUoWtgZIKZ);
}
.slotTargetEndtype_soft {
  color: var(--token-OUDfnQi9wlW1);
}
.slotTargetEndtype_bordered {
  color: var(--token-OUDfnQi9wlW1);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-xEHKXSilhkla);
}
.slotTargetEndsize_small {
  font-size: var(--token-xEHKXSilhkla);
}
.slotTargetEndsize_large {
  font-size: var(--token-tbWry7Hfgsx4);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-tbWry7Hfgsx4);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-8t0RmQVNq-Mp);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-8t0RmQVNq-Mp);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-Z4edeHsPryWp);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-Z4edeHsPryWp);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-Qu0D00Ic4STc);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-Qu0D00Ic4STc);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-C2Tr6yrKXsqP);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-C2Tr6yrKXsqP);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-5asEauoKl_Or);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-5asEauoKl_Or);
}
.svg__lmJs {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
