@import "../react_aria/plasmic.css"; /* plasmic-import: gmeH6XgPaBtkt51HunAo4g/projectcss */
@import "../library_tailwind_3_4_color_tokens/plasmic.css"; /* plasmic-import: 5ZtnypMovRHeeP3YTdPCYL/projectcss */
@import "../library_tailwind_3_4_number_tokens/plasmic.css"; /* plasmic-import: 4vjRXvnb4XuY6J15w9oRcQ/projectcss */
@import "../antd_5_hostless/plasmic.css"; /* plasmic-import: ohDidvG9XsCeFumugENU3J/projectcss */
@import "../plasmic_rich_components/plasmic.css"; /* plasmic-import: jkU633o1Cz7HrJdwdxhVHk/projectcss */
@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens_rAgsy6LoQc6tUTiovYwby4 {
  --token-2DGXnKQCCvx3: #2563eb;
  --plasmic-token-brand-brand: var(--token-2DGXnKQCCvx3);
  --token-dkZ6tw6BHfYd: 0.5rem;
  --plasmic-token-size-8: var(--token-dkZ6tw6BHfYd);
  --token-QRiAQyAIalTd: Inter;
  --plasmic-token-sans-serif: var(--token-QRiAQyAIalTd);
  --token-AR54r7_6r_xj: 1rem;
  --plasmic-token-font-md: var(--token-AR54r7_6r_xj);
  --token-E0ir8LkC5RCU: 1.25;
  --plasmic-token-line-height-md: var(--token-E0ir8LkC5RCU);
  --token-Omo7udJzTCYS: 0.375rem;
  --plasmic-token-size-6: var(--token-Omo7udJzTCYS);
  --token--rcfsYFTNlBi: #374151;
  --plasmic-token-neutral-neutral: var(--token--rcfsYFTNlBi);
  --token-hZlCeoqdcDZD: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-hZlCeoqdcDZD);
  --token-ITt1lUs3PChq: #6b7280;
  --plasmic-token-muted-muted: var(--token-ITt1lUs3PChq);
  --token-I_JtX8U8qCjO: 0.25rem;
  --plasmic-token-size-4: var(--token-I_JtX8U8qCjO);
  --token-xEHKXSilhkla: 0.75rem;
  --plasmic-token-font-sm: var(--token-xEHKXSilhkla);
  --token-hWDT8PoZuPyb: 1;
  --plasmic-token-line-height-sm: var(--token-hWDT8PoZuPyb);
  --token-tbWry7Hfgsx4: 1.25rem;
  --plasmic-token-font-lg: var(--token-tbWry7Hfgsx4);
  --token-c9H527_vj5xM: 1.4;
  --plasmic-token-line-height-lg: var(--token-c9H527_vj5xM);
  --token-U_7DiYDEJ-JT: 0.125rem;
  --plasmic-token-size-2: var(--token-U_7DiYDEJ-JT);
  --token-X9ziYAeW6MNi: #16a34a;
  --plasmic-token-success-success: var(--token-X9ziYAeW6MNi);
  --token-pmMxpwR_Q_0h: #facc15;
  --plasmic-token-warning-warning: var(--token-pmMxpwR_Q_0h);
  --token-HtvWlUB_e2zI: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-HtvWlUB_e2zI);
  --token-oXszYG5LALnj: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-oXszYG5LALnj);
  --token-INqMp0xFmBFO: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-INqMp0xFmBFO);
  --token-dJ7r6lvlLTvf: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-dJ7r6lvlLTvf);
  --token-eXq4BMbJ3_tv: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-eXq4BMbJ3_tv);
  --token-R02acMtZ7f4c: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-R02acMtZ7f4c);
  --token-HgKapxNO-3AP: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-HgKapxNO-3AP);
  --token-tmZC7XTE83Tf: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-tmZC7XTE83Tf);
  --token-1FdhgPjjsutB: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-1FdhgPjjsutB);
  --token-JnLEuf2WUpl0: #86efac;
  --plasmic-token-success-success-border: var(--token-JnLEuf2WUpl0);
  --token-hJNswSyoxage: #fde047;
  --plasmic-token-warning-warning-border: var(--token-hJNswSyoxage);
  --token-NUGXLP-lSNQ9: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-NUGXLP-lSNQ9);
  --token-VXtXVQiiSGo-: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-VXtXVQiiSGo-);
  --token-PUQBn_OiC56u: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-PUQBn_OiC56u);
  --token-ymXhXQwxBlMp: #00000033;
  --plasmic-token-interaction-pressed: var(--token-ymXhXQwxBlMp);
  --token-KlKH7fDU2FN2: 0.625rem;
  --plasmic-token-size-10: var(--token-KlKH7fDU2FN2);
  --token-pb88BUdOuB-I: 0.75rem;
  --plasmic-token-size-12: var(--token-pb88BUdOuB-I);
  --token-YsKjjf7-aRv5: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-YsKjjf7-aRv5);
  --token-vgzurqFUrBYU: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-vgzurqFUrBYU);
  --token-AOoEZ8fGxSNj: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-AOoEZ8fGxSNj);
  --token-OUDfnQi9wlW1: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-OUDfnQi9wlW1);
  --token-GKPw9jZCxeAG: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-GKPw9jZCxeAG);
  --token-ReDg7aVpaV0f: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-ReDg7aVpaV0f);
  --token-rwIUoWtgZIKZ: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-rwIUoWtgZIKZ);
  --token-8t0RmQVNq-Mp: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-8t0RmQVNq-Mp);
  --token-Z4edeHsPryWp: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-Z4edeHsPryWp);
  --token-Qu0D00Ic4STc: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-Qu0D00Ic4STc);
  --token-C2Tr6yrKXsqP: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-C2Tr6yrKXsqP);
  --token-5asEauoKl_Or: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-5asEauoKl_Or
  );
  --token-xGPBK9X00bKE: #000000;
  --plasmic-token-unnamed-style-token: var(--token-xGPBK9X00bKE);
  --token-kLgqYFWJyyhe: 2rem;
  --plasmic-token-size-32: var(--token-kLgqYFWJyyhe);
  --token-7HXvTdHIefjR: #d1d5db;
  --plasmic-token-basic-border: var(--token-7HXvTdHIefjR);
  --token-4ARxuwqUZwha: 1rem;
  --plasmic-token-size-16: var(--token-4ARxuwqUZwha);
  --token-N3voXFBEfKuQ: #030712;
  --plasmic-token-basic-text-primary: var(--token-N3voXFBEfKuQ);
  --token-23bg9EbaKAfy: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-23bg9EbaKAfy);
  --token-blzxkHFeH-9f: #ffffff;
  --plasmic-token-basic-container-background: var(--token-blzxkHFeH-9f);
  --token-U7gGhDxodLWT: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-U7gGhDxodLWT);
}

.plasmic_tokens_rAgsy6LoQc6tUTiovYwby4 {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-bnuiZsEanXjj_font-family: "Inter", sans-serif;
  --mixin-bnuiZsEanXjj_font-size: 16px;
  --mixin-bnuiZsEanXjj_font-weight: 400;
  --mixin-bnuiZsEanXjj_font-style: normal;
  --mixin-bnuiZsEanXjj_text-align: left;
  --mixin-bnuiZsEanXjj_text-transform: none;
  --mixin-bnuiZsEanXjj_line-height: 1.5;
  --mixin-bnuiZsEanXjj_letter-spacing: normal;
  --mixin-bnuiZsEanXjj_white-space: pre-wrap;
  --mixin-bnuiZsEanXjj_user-select: text;
  --mixin-bnuiZsEanXjj_text-decoration-line: none;
  --mixin-bnuiZsEanXjj_text-overflow: clip;
  --mixin-bnuiZsEanXjj_color: #000000;
  --mixin-AFGoL7AGb9Xn_font-weight: 700;
  --mixin-AFGoL7AGb9Xn_font-size: 64px;
  --mixin-AFGoL7AGb9Xn_line-height: 1;
  --mixin-AFGoL7AGb9Xn_letter-spacing: -1px;
  --mixin-AFGoL7AGb9Xn_white-space: pre-wrap;
  --mixin-Su1nyYRc1Avw_font-size: 48px;
  --mixin-Su1nyYRc1Avw_font-weight: 700;
  --mixin-Su1nyYRc1Avw_letter-spacing: -0.5px;
  --mixin-Su1nyYRc1Avw_line-height: 1.1;
  --mixin-Su1nyYRc1Avw_white-space: pre-wrap;
  --mixin-1Y0skRRl_7fZ_color: #0070f3;
  --mixin-1Y0skRRl_7fZ_white-space: pre-wrap;
  --mixin-PkcIxcq1Xu5k_font-size: 32px;
  --mixin-PkcIxcq1Xu5k_font-weight: 600;
  --mixin-PkcIxcq1Xu5k_line-height: 1.2;
  --mixin-PkcIxcq1Xu5k_white-space: pre-wrap;
  --mixin-jNlp-fIrylco_font-size: 24px;
  --mixin-jNlp-fIrylco_font-weight: 600;
  --mixin-jNlp-fIrylco_line-height: 1.3;
  --mixin-jNlp-fIrylco_white-space: pre-wrap;
  --mixin-z_DNGQn-OW5X_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-z_DNGQn-OW5X_border-bottom-color: #dddddd;
  --mixin-z_DNGQn-OW5X_border-bottom-style: solid;
  --mixin-z_DNGQn-OW5X_border-bottom-width: 1px;
  --mixin-z_DNGQn-OW5X_border-left-color: #dddddd;
  --mixin-z_DNGQn-OW5X_border-left-style: solid;
  --mixin-z_DNGQn-OW5X_border-left-width: 1px;
  --mixin-z_DNGQn-OW5X_border-right-color: #dddddd;
  --mixin-z_DNGQn-OW5X_border-right-style: solid;
  --mixin-z_DNGQn-OW5X_border-right-width: 1px;
  --mixin-z_DNGQn-OW5X_border-top-color: #dddddd;
  --mixin-z_DNGQn-OW5X_border-top-style: solid;
  --mixin-z_DNGQn-OW5X_border-top-width: 1px;
  --mixin-z_DNGQn-OW5X_border-bottom-left-radius: 3px;
  --mixin-z_DNGQn-OW5X_border-bottom-right-radius: 3px;
  --mixin-z_DNGQn-OW5X_border-top-left-radius: 3px;
  --mixin-z_DNGQn-OW5X_border-top-right-radius: 3px;
  --mixin-z_DNGQn-OW5X_font-family: "Inconsolata";
  --mixin-z_DNGQn-OW5X_padding-bottom: 1px;
  --mixin-z_DNGQn-OW5X_padding-left: 4px;
  --mixin-z_DNGQn-OW5X_padding-right: 4px;
  --mixin-z_DNGQn-OW5X_padding-top: 1px;
  --mixin-z_DNGQn-OW5X_white-space: pre-wrap;
  --mixin-2rt3kqu6eUEg_border-left-color: #dddddd;
  --mixin-2rt3kqu6eUEg_border-left-style: solid;
  --mixin-2rt3kqu6eUEg_border-left-width: 3px;
  --mixin-2rt3kqu6eUEg_color: #888888;
  --mixin-2rt3kqu6eUEg_padding-left: 10px;
  --mixin-2rt3kqu6eUEg_white-space: pre-wrap;
  --mixin-Q-BGzFEb3cQV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Q-BGzFEb3cQV_border-bottom-color: #dddddd;
  --mixin-Q-BGzFEb3cQV_border-bottom-style: solid;
  --mixin-Q-BGzFEb3cQV_border-bottom-width: 1px;
  --mixin-Q-BGzFEb3cQV_border-left-color: #dddddd;
  --mixin-Q-BGzFEb3cQV_border-left-style: solid;
  --mixin-Q-BGzFEb3cQV_border-left-width: 1px;
  --mixin-Q-BGzFEb3cQV_border-right-color: #dddddd;
  --mixin-Q-BGzFEb3cQV_border-right-style: solid;
  --mixin-Q-BGzFEb3cQV_border-right-width: 1px;
  --mixin-Q-BGzFEb3cQV_border-top-color: #dddddd;
  --mixin-Q-BGzFEb3cQV_border-top-style: solid;
  --mixin-Q-BGzFEb3cQV_border-top-width: 1px;
  --mixin-Q-BGzFEb3cQV_border-bottom-left-radius: 3px;
  --mixin-Q-BGzFEb3cQV_border-bottom-right-radius: 3px;
  --mixin-Q-BGzFEb3cQV_border-top-left-radius: 3px;
  --mixin-Q-BGzFEb3cQV_border-top-right-radius: 3px;
  --mixin-Q-BGzFEb3cQV_font-family: "Inconsolata";
  --mixin-Q-BGzFEb3cQV_padding-bottom: 3px;
  --mixin-Q-BGzFEb3cQV_padding-left: 6px;
  --mixin-Q-BGzFEb3cQV_padding-right: 6px;
  --mixin-Q-BGzFEb3cQV_padding-top: 3px;
  --mixin-Q-BGzFEb3cQV_white-space: pre-wrap;
  --mixin-YDPo4SdhOAZH_display: flex;
  --mixin-YDPo4SdhOAZH_flex-direction: column;
  --mixin-YDPo4SdhOAZH_align-items: stretch;
  --mixin-YDPo4SdhOAZH_justify-content: flex-start;
  --mixin-YDPo4SdhOAZH_list-style-position: outside;
  --mixin-YDPo4SdhOAZH_padding-left: 40px;
  --mixin-YDPo4SdhOAZH_position: relative;
  --mixin-YDPo4SdhOAZH_list-style-type: disc;
  --mixin-YDPo4SdhOAZH_white-space: pre-wrap;
  --mixin-CjHFWgk_L1HC_display: flex;
  --mixin-CjHFWgk_L1HC_flex-direction: column;
  --mixin-CjHFWgk_L1HC_align-items: stretch;
  --mixin-CjHFWgk_L1HC_justify-content: flex-start;
  --mixin-CjHFWgk_L1HC_list-style-position: outside;
  --mixin-CjHFWgk_L1HC_padding-left: 40px;
  --mixin-CjHFWgk_L1HC_position: relative;
  --mixin-CjHFWgk_L1HC_list-style-type: decimal;
  --mixin-CjHFWgk_L1HC_white-space: pre-wrap;
  --mixin-QCB20n2v7e5p_font-size: 20px;
  --mixin-QCB20n2v7e5p_font-weight: 600;
  --mixin-QCB20n2v7e5p_line-height: 1.5;
  --mixin-QCB20n2v7e5p_white-space: pre-wrap;
  --mixin-PEf5rs9fWJux_font-size: 16px;
  --mixin-PEf5rs9fWJux_font-weight: 600;
  --mixin-PEf5rs9fWJux_line-height: 1.5;
  --mixin-PEf5rs9fWJux_white-space: pre-wrap;
  --mixin--EOPQs3DrMnh_color: #3291ff;
  --mixin--EOPQs3DrMnh_white-space: pre-wrap;
  --mixin-iOmeEWUufoPF_white-space: pre-wrap;
  --mixin-2Jsllw8uG9nl_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-nDh1Pf_eNImK_white-space: pre-wrap;
  --plasmic-mixin-links-buttons_white-space: var(
    --mixin-nDh1Pf_eNImK_white-space
  );
  --mixin-cR-lb5GErQtw_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-cR-lb5GErQtw_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) {
  font-family: var(--mixin-bnuiZsEanXjj_font-family);
  font-size: var(--mixin-bnuiZsEanXjj_font-size);
  font-weight: var(--mixin-bnuiZsEanXjj_font-weight);
  font-style: var(--mixin-bnuiZsEanXjj_font-style);
  color: var(--mixin-bnuiZsEanXjj_color);
  text-align: var(--mixin-bnuiZsEanXjj_text-align);
  text-transform: var(--mixin-bnuiZsEanXjj_text-transform);
  line-height: var(--mixin-bnuiZsEanXjj_line-height);
  letter-spacing: var(--mixin-bnuiZsEanXjj_letter-spacing);
  white-space: var(--mixin-bnuiZsEanXjj_white-space);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) h1:where(.h1__rAgsy),
h1:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.h1__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) h1,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) h1,
h1:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  font-weight: var(--mixin-AFGoL7AGb9Xn_font-weight);
  font-size: var(--mixin-AFGoL7AGb9Xn_font-size);
  line-height: var(--mixin-AFGoL7AGb9Xn_line-height);
  letter-spacing: var(--mixin-AFGoL7AGb9Xn_letter-spacing);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) h2:where(.h2__rAgsy),
h2:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.h2__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) h2,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) h2,
h2:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  font-size: var(--mixin-Su1nyYRc1Avw_font-size);
  font-weight: var(--mixin-Su1nyYRc1Avw_font-weight);
  letter-spacing: var(--mixin-Su1nyYRc1Avw_letter-spacing);
  line-height: var(--mixin-Su1nyYRc1Avw_line-height);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) a:where(.a__rAgsy),
a:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.a__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) a,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) a,
a:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  color: var(--mixin-1Y0skRRl_7fZ_color);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) h3:where(.h3__rAgsy),
h3:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.h3__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) h3,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) h3,
h3:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  font-size: var(--mixin-PkcIxcq1Xu5k_font-size);
  font-weight: var(--mixin-PkcIxcq1Xu5k_font-weight);
  line-height: var(--mixin-PkcIxcq1Xu5k_line-height);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) h4:where(.h4__rAgsy),
h4:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.h4__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) h4,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) h4,
h4:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  font-size: var(--mixin-jNlp-fIrylco_font-size);
  font-weight: var(--mixin-jNlp-fIrylco_font-weight);
  line-height: var(--mixin-jNlp-fIrylco_line-height);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) code:where(.code__rAgsy),
code:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.code__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) code,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) code,
code:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-z_DNGQn-OW5X_font-family);
  border-radius: var(--mixin-z_DNGQn-OW5X_border-top-left-radius)
    var(--mixin-z_DNGQn-OW5X_border-top-right-radius)
    var(--mixin-z_DNGQn-OW5X_border-bottom-right-radius)
    var(--mixin-z_DNGQn-OW5X_border-bottom-left-radius);
  padding: var(--mixin-z_DNGQn-OW5X_padding-top)
    var(--mixin-z_DNGQn-OW5X_padding-right)
    var(--mixin-z_DNGQn-OW5X_padding-bottom)
    var(--mixin-z_DNGQn-OW5X_padding-left);
  border-top: var(--mixin-z_DNGQn-OW5X_border-top-width)
    var(--mixin-z_DNGQn-OW5X_border-top-style)
    var(--mixin-z_DNGQn-OW5X_border-top-color);
  border-right: var(--mixin-z_DNGQn-OW5X_border-right-width)
    var(--mixin-z_DNGQn-OW5X_border-right-style)
    var(--mixin-z_DNGQn-OW5X_border-right-color);
  border-bottom: var(--mixin-z_DNGQn-OW5X_border-bottom-width)
    var(--mixin-z_DNGQn-OW5X_border-bottom-style)
    var(--mixin-z_DNGQn-OW5X_border-bottom-color);
  border-left: var(--mixin-z_DNGQn-OW5X_border-left-width)
    var(--mixin-z_DNGQn-OW5X_border-left-style)
    var(--mixin-z_DNGQn-OW5X_border-left-color);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) blockquote:where(.blockquote__rAgsy),
blockquote:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.blockquote__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) blockquote,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) blockquote,
blockquote:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  color: var(--mixin-2rt3kqu6eUEg_color);
  padding-left: var(--mixin-2rt3kqu6eUEg_padding-left);
  border-left: var(--mixin-2rt3kqu6eUEg_border-left-width)
    var(--mixin-2rt3kqu6eUEg_border-left-style)
    var(--mixin-2rt3kqu6eUEg_border-left-color);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) pre:where(.pre__rAgsy),
pre:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.pre__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) pre,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) pre,
pre:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Q-BGzFEb3cQV_font-family);
  border-radius: var(--mixin-Q-BGzFEb3cQV_border-top-left-radius)
    var(--mixin-Q-BGzFEb3cQV_border-top-right-radius)
    var(--mixin-Q-BGzFEb3cQV_border-bottom-right-radius)
    var(--mixin-Q-BGzFEb3cQV_border-bottom-left-radius);
  padding: var(--mixin-Q-BGzFEb3cQV_padding-top)
    var(--mixin-Q-BGzFEb3cQV_padding-right)
    var(--mixin-Q-BGzFEb3cQV_padding-bottom)
    var(--mixin-Q-BGzFEb3cQV_padding-left);
  border-top: var(--mixin-Q-BGzFEb3cQV_border-top-width)
    var(--mixin-Q-BGzFEb3cQV_border-top-style)
    var(--mixin-Q-BGzFEb3cQV_border-top-color);
  border-right: var(--mixin-Q-BGzFEb3cQV_border-right-width)
    var(--mixin-Q-BGzFEb3cQV_border-right-style)
    var(--mixin-Q-BGzFEb3cQV_border-right-color);
  border-bottom: var(--mixin-Q-BGzFEb3cQV_border-bottom-width)
    var(--mixin-Q-BGzFEb3cQV_border-bottom-style)
    var(--mixin-Q-BGzFEb3cQV_border-bottom-color);
  border-left: var(--mixin-Q-BGzFEb3cQV_border-left-width)
    var(--mixin-Q-BGzFEb3cQV_border-left-style)
    var(--mixin-Q-BGzFEb3cQV_border-left-color);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) ul:where(.ul__rAgsy),
ul:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.ul__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) ul,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) ul,
ul:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  display: var(--mixin-YDPo4SdhOAZH_display);
  flex-direction: var(--mixin-YDPo4SdhOAZH_flex-direction);
  align-items: var(--mixin-YDPo4SdhOAZH_align-items);
  justify-content: var(--mixin-YDPo4SdhOAZH_justify-content);
  list-style-position: var(--mixin-YDPo4SdhOAZH_list-style-position);
  padding-left: var(--mixin-YDPo4SdhOAZH_padding-left);
  position: var(--mixin-YDPo4SdhOAZH_position);
  list-style-type: var(--mixin-YDPo4SdhOAZH_list-style-type);
  column-gap: var(--mixin-YDPo4SdhOAZH_column-gap);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) ol:where(.ol__rAgsy),
ol:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.ol__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) ol,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) ol,
ol:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  display: var(--mixin-CjHFWgk_L1HC_display);
  flex-direction: var(--mixin-CjHFWgk_L1HC_flex-direction);
  align-items: var(--mixin-CjHFWgk_L1HC_align-items);
  justify-content: var(--mixin-CjHFWgk_L1HC_justify-content);
  list-style-position: var(--mixin-CjHFWgk_L1HC_list-style-position);
  padding-left: var(--mixin-CjHFWgk_L1HC_padding-left);
  position: var(--mixin-CjHFWgk_L1HC_position);
  list-style-type: var(--mixin-CjHFWgk_L1HC_list-style-type);
  column-gap: var(--mixin-CjHFWgk_L1HC_column-gap);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) h5:where(.h5__rAgsy),
h5:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.h5__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) h5,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) h5,
h5:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  font-size: var(--mixin-QCB20n2v7e5p_font-size);
  font-weight: var(--mixin-QCB20n2v7e5p_font-weight);
  line-height: var(--mixin-QCB20n2v7e5p_line-height);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) h6:where(.h6__rAgsy),
h6:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.h6__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) h6,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) h6,
h6:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
  font-size: var(--mixin-PEf5rs9fWJux_font-size);
  font-weight: var(--mixin-PEf5rs9fWJux_font-weight);
  line-height: var(--mixin-PEf5rs9fWJux_line-height);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) a:where(.a__rAgsy):hover,
a:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.a__rAgsy):hover,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) a:hover,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) a:hover,
a:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags):hover {
  color: var(--mixin--EOPQs3DrMnh_color);
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) li:where(.li__rAgsy),
li:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.li__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) li,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) li,
li:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
}

:where(.root_reset_rAgsy6LoQc6tUTiovYwby4) p:where(.p__rAgsy),
p:where(.root_reset_rAgsy6LoQc6tUTiovYwby4.p__rAgsy),
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4 .__wab_expr_html_text) p,
:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) p,
p:where(.root_reset_rAgsy6LoQc6tUTiovYwby4_tags) {
}
